<br>
<div class="login">
<form #logInUser ="ngForm" (ngSubmit) ="onClickSubmit(logInUser.value)">
    <div class="form-item">
        <div class="custom-input">
            <div class="icon-wrapper-icon">
                <div class="input-wrapper">
                    <input type="tel" name="phone" id="phone" placeholder="Email/Phonenumber" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" maxlength="12" required/>
                    </div>
                    <i class="fa fa-user"></i>
                    </div>
                    </div>
    </div>
    <div class="form-item">
        <div class="custom-input">
            <div class="icon-wrapper-icon">
                <div class="input-wrapper">
                    <input type="password" name="password" id="password" placeholder="Your Password" required/>
                    </div>
                    <i class="fa fa-lock"></i>
                    </div>
                    </div>
    </div>
    <div class="form-item">
        <div class="custom-input">
            <div class="icon-wrapper-icon">
                <div class="input-wrapper">
                    <input type="checkbox" name="checkbox" id="checkbox"/>
                    <span class="custom-holder">
                    </span>
                     <div class="label">Remember Me</div>
                    </div>
                    </div>
                    <a href="#">Forgot you password?</a>
                    </div>
    </div>
    <div class="form-item clearfix">
        <button class="login" type="button">
            Log In
        </button>
    </div>
</form>
</div>