<!-- <div>Welcome to life partner.com</div> -->
<div>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand lifePartner" href="#">LifePartner</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
      
     </ul>
     
      <form class="form-inline my-2 my-lg-0">
        <div>
          <div class="ac input-wrap">
            <input class="form-control mr-sm-2" id="search" type="search" placeholder="Search" aria-label="Search">
          </div>
        </div>
        <i class="fa fa-search" aria-hidden="true"></i>
        <button class="btn btn-outline-success mr-sm-2 login" routerLink="/login"  type="submit">Log In</button>
        <button class="btn btn-outline-success mr-sm-2 signup" routerLink="/signup" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
  </nav>
  </div>
  
  <div class="align">
  <div>Welcome to Matchmaking</div>
  <h2 class="auth-category-title">For People</h2>
  <p class="auth-category-subtitle">Practice Matchmaking, prepare for matchmaking, and get married.</p>
  </div>
  <div class="align">
    <div>
     
        <div class="auth">
          <div class="clearfix">
            <div class="tab-header">
              <a routerLink="/signup" id="tab-1-item-0"  >Sign up</a>
              <a routerLink="/login" id="tab-1-item-1"  >Log in</a>
            </div>
          </div>
          <router-outlet></router-outlet>
          <div> 
          </div>
      </div>
    </div>
  </div>