.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #ff0083;
}

button.btn.btn-outline-success.mr-sm-2.login {
    color: #fff;
    border: 0;
    height: 47px;
    line-height: 47px;
    padding: 0 60px;
    background-color: #ff0083;
    border: 1px solid white;
    box-shadow: 0 10px 40px -10px rgb(255 0 131 / 50%);
}


button.btn.btn-outline-success.mr-sm-2.signup {
    color: #fff;
    border: 0;
    height: 47px;
    line-height: 47px;
    padding: 0 60px;
    background-color: #ff0083;
    border: 1px solid white;
    box-shadow: 0 10px 40px -10px rgb(255 0 131 / 50%);
}


a {
    color: #fff;
        text-decoration: none;
    background-color: transparent;
}


.align{
    text-align:center;
}

.auth {
    padding: 30px;
    width: 480px;
    margin-left: 465px;
    background: #fff;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
}

.clearfix {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    flex-wrap: wrap;
    align-self: stretch;
}


.tab-header {
    position: relative;
    z-index: 1;
    display: flex;
    list-style: none;
    width: 100%;
    top: -30px;
}


a#tab-1-item-0 {
    flex: 1;
    padding: 0;
    background: #f9fbfb;
    color: #738f93;
    text-align: center;
    line-height: 60px;
    display: block;
    color: inherit;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
    position: relative;
    z-index: 1;
    background: #fff;
    color: #0e141e;
}


a#tab-1-item-1 {
    flex: 1;
    padding: 0;
    background: #f9fbfb;
    color: #738f93;
    text-align: center;
    line-height: 60px;
    display: block;
    color: inherit;
    font-weight: 700;
    font-size: 18px;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 20%);
    position: relative;
    z-index: 1;
    background: #fff;
    color: #0e141e;
}

i.fa.fa-search {
    position: absolute;
    top: 50%;
    /* left: 5px; */
    z-index: 1;
    padding: 0;
    width: 20px;
    height: 20px;
    margin-left: 13px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 18px;
}

input#search {
    background-color: #ff0083;
    padding-left: 45px;
    font-size: 14px;
}

.clearfix {
    display: flex;
    box-sizing: border-box;
    width: 114%;
    flex-wrap: wrap;
    margin-left: -30px;
    align-self: stretch;
}